<?xml version="1.0" encoding="UTF-8"?>
<suite parallel="false" name="Suite">
  <listeners>
		<listener class-name="com.becognizant.utilities.Extent_Reports"></listener>
	</listeners>
  <test name="Test">
  <parameter name="browser" value="chrome"></parameter>
    <classes>
      <class name="com.becognizant.testcases.BasicTest"/>
      <class name="com.becognizant.testcases.Test1_homepage_Test"/>
      <class name="com.becognizant.testcases.Test2_onecPage_Test"/>
      <class name="com.becognizant.testcases.Test3_outreachPage_Test"/>
    </classes>
  </test> <!-- Test -->
  
   <test name="Test1">
  <parameter name="browser" value="edge"></parameter>
    <classes>
      <class name="com.becognizant.testcases.BasicTest"/>
      <class name="com.becognizant.testcases.Test1_homepage_Test"/>
      <class name="com.becognizant.testcases.Test2_onecPage_Test"/>
      <class name="com.becognizant.testcases.Test3_outreachPage_Test"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
